<!-- <input type="text" [value]="username" (input)="username=$event.target.value">
<span>你好,{{username}}</span> -->
<!-- <input type="text" [(ngModel)]="username">
<span>你好,{{username}}</span> -->
<!-- <input type="text" [value]="username" (input)="username=$event.target.value">
<span (click)="handleClick()">你好,{{username}}</span> {{ result }} -->
<!-- <span appGridItem *ngFor="let item of channels">
    <img appGridItemImage="2rem" [src]="item.icon" alt="" />
    <span appGridItemTitle="0.6rem" class="title">{{ item.title }}</span>
</span> -->
<ng-content select="[appGridItem]"></ng-content>